body {
  font-family: Arial, sans-serif;
  background-color: #121212; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 350px;
  background-color: #2a2a2a; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  text-align: center;
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #ddd; 
}

input[type="text"],
input[type="password"],
button {
  width: 100%;
  padding: 10px;
  border: 1px solid #777; 
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  background-color: #444; 
  color: #fff; 
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.bottom-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login {
  text-align: center;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s ease;
}

#login:hover {
  background-color: #5477df;
}

#login{
  margin-bottom: 20px;
  color: #fff;
  background-color: blue;
  border: none;
}
#register{
  background-color: #808180;
  margin-bottom: 5px;
}


@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}
